KWoC 24: Blog Submission
<div style="background-color: #1e212c; font-size: 14px; font-family: 'Tahomo', 'Poppins', 'Verdana', 'Arial',sans-serif; color: white;">
  <div style="background-color: hsl(225, 19%, 8%); color: white; max-width: 600px; margin-inline: auto; margin: auto; padding: 0; box-sizing: border-box;">

    <!-- Header Image -->
    <div>
      <img style="display: block; width: 100%;" src="https://imgpx.com/Y3r8cScCM75v.jpg"
        alt="Kharagpur Winter of Code" />
    </div>

    <!-- Main Body -->
    <div style="padding: 1rem; color: #f9f9f9; background-color: #010b1a;">
      <!--Append HTML Formatted Mail Content Here-->
      <div style="padding: 2rem; color: #D3E5E9; background-color: #010b1a;">
        <p style="font-size: 1.5rem; margin: 0; margin-bottom: 2rem; text-align: left;"><b>KWoC 24: Blog Submission</b></p>
        <p style="margin: 0; margin-bottom: 1.5rem;">Greetings from Kharagpur Open Source Society,</p>
        <p style="margin: 0; margin-bottom: 1.5rem;">As we approach the conclusion of Kharagpur Winter of Code 2024, we would like to remind you about the blog submission and the corresponding guidelines to be followed.</p>
        <!-- <p style="margin: 0; "><b>Mark your calenders for KWoC 2024!</b></p>
        <p style="margin: 0;"><b>Registrations for students</b>: 20th November</p>-->
        <!-- <p style="margin: 0; margin-bottom: 1rem;">This blog provides an overview of your contributions throughout the 5-week period and is an important component of our evaluation.</b></p> -->
        <p style="margin: 0; margin-bottom: 1rem;">The blog can be as descriptive as you want but must contain at least the following points: 
          <ul>
            <li>List of projects you worked on and pull requests you created, along with the links to the PRs</li>
            <li>A concise yet informative summary of your work and your learnings.</li>
          </ul>
        </p>
        <p style="margin: 0; margin-bottom: 1.5rem;">You can publish this in a blog-like format on any platform you choose, like <a style="color: #DCF2F1" href="http://medium.com/">Medium</a> or <a style="color: #DCF2F1" href="http://gist.github.com/">Github Gist.</a>
        </p>
        <p style="margin: 0; margin-bottom: 1.5rem;">Link to the google form for blog submission: <a style="color: #DCF2F1" href="https://docs.google.com/forms/d/e/1FAIpQLScezv0p0FCtfe-EHPFxOOs2lssYLw4pDPpS2NtAIfgw3_3axQ/viewform?usp=sharing"><b>KWoC 24 Blog Submission</b></a></p>

        <p style="margin: 0; margin-bottom: 1.5rem;">The deadline for submitting your report is <b>January 23rd. </b><i>Failing to submit the report by this date will not count towards successful participation.</i>
        </p>
        <p style="margin: 0; margin-bottom: 1.5rem;">For any further queries, feel free to contact us!
        </p>

        <p style="margin: 1rem 0; color: #cde6fc">
          Regards,<br />
          <b>Kharagpur Open Source Society</b>
          <br />
          <b>Indian Institute of Technology, Kharagpur</b>
          <br/>
          <a target="_blank"href="https://kossiitkgp.org/" style="color: #cde6fc;">Website</a> | <a target="_blank"href="https://github.com/kossiitkgp" style="color: #cde6fc;">GitHub</a> | <a target="_blank"href="https://twitter.com/kossiitkgp" style="color: #cde6fc;">Twitter</a> | <a target="_blank"href="https://www.linkedin.com/company/kharagpur-open-source-society/" style="color: #cde6fc;">LinkedIn</a> | <a target="_blank"href="https://www.instagram.com/kossiitkgp/" style="color: #cde6fc;">Instagram</a>
        </p>
        
      </div>

    </div>
  </div>
</div>