KWoC is back!
<div style="background-color: #1e212c; font-size: 14px; font-family: 'Tahomo', 'Poppins', 'Verdana', 'Arial',sans-serif; color: white;">
    <div
        style="background-color: hsl(225, 19%, 8%); color: white; max-width: 600px; margin-inline: auto; margin: auto; padding: 0; box-sizing: border-box;">
        
        <!-- Header Image -->
        <div>
           <img style="display: block; width: 100%;" src="https://i.ibb.co/s21Qs9W/Kharagpur-Winter-of-Code.jpg" alt="Kharagpur Winter of Code"/>
        </div>

        <!-- Main Body -->
        <div style="padding: 1rem; color: #f9f9f9; background-color: #010b1a;">
          <!--Append HTML Formatted Mail Content Here-->
          <div style="padding: 2rem; color: #D3E5E9; background-color: #010b1a;">
            <p style="font-size: 2rem; margin: 0; margin-bottom: 0.75rem; text-align: center;"><b>Hello!</b></p>
            <p style="margin: 0; margin-bottom: 1rem;">We hope this email finds you well. We are thrilled to announce that Kharagpur Winter of Code is back this year, and we would like to invite you to be part of this amazing coding extravaganza once again.</p>
            <p style="margin: 0; margin-bottom: 1rem;">Your active involvement in previous editions of KWoC has contributed significantly to its success, and we genuinely appreciate your dedication.</p>
            <p style="margin: 0; "><b>Mark your calenders for KWoC 2024!</b></p>
            <p style="margin: 0;"><b>Registrations for students</b>: 20th November</p>
            <p style="margin: 0; margin-bottom: 1rem;"><b>Coding period</b>: 5th December to 10th January</p>
            <p style="margin: 0; margin-bottom: 1rem;">Visit <a target="_blank" href="https://kwoc.kossiitkgp.org/" style="color: #cde6fc">KWoC 2024 website</a> to know more.</p>
            <p style="margin: 0; margin-bottom: 1rem;">Join the official <a target="_blank" href="https://discord.gg/YVvxAT85" style="color: #cde6fc">KWoC Discord channel</a> to connect with the community and stay tuned to our social media channels for updates on project selection, mentors, and other important announcements.</p>
            <p style="margin: 0;">We eagerly anticipate your participation in KWoC 2024. Let's make this edition even more remarkable!
            </p>
          <!-- *** -->

          <p style="margin: 1rem 0; color: #cde6fc">
            Regards,<br />
            <b>Kharagpur Open Source Society</b>
            <br />
            <b>Indian Institute of Technology, Kharagpur</b>
          </p>
        </div>

        <!-- Socials -->
        <div style="width: 100%; text-align: center; padding: 1rem; box-sizing: border-box;">
            <!-- <a target="_blank" href="https://kwoc-koss.slack.com"><img src="https://i.ibb.co/hYqPdZT/icons8-slack-60.png" alt="" style="max-width: 25px; margin: 0 16px; margin-left: 0; clear: both;"></a> -->
            <a target="_blank" href="https://www.facebook.com/kossiitkgp"><img src="https://i.ibb.co/S6pMkQS/icons8-facebook-60.png" alt="" style="max-width: 25px; margin: 0 16px; clear: both;"></a>
            <a target="_blank" href="https://www.instagram.com/kossiitkgp"><img src="https://i.ibb.co/Rjv7JFs/icons8-instagram-60.png" alt="" style="max-width: 25px; margin: 0 16px; clear: both;"></a>
            <a target="_blank" href="https://twitter.com/kossiitkgp"><img src="https://i.ibb.co/K6Kdpxc/icons8-twitter-60.png" alt="" style="max-width: 25px; margin: 0 16px; clear: both;"></a>
            <a target="_blank" href="https://www.linkedin.com/company/kharagpur-open-source-society/"><img src="https://i.ibb.co/w7wThJK/icons8-linkedin-60.png" alt="" style="max-width: 25px; margin: 0 16px; margin-right: 0; clear: both;"></a>
          </div>     
    </div>
</div>